<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>hit</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.5</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>mole_thump1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_thump2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_thump3.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_thump4.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>laugh</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.5</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>mole_laugh1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_laugh2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_laugh3.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_laugh2.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_laugh3.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>mole_laugh1.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>mole_default.plist</string>
		</array>
	</dict>
</dict>
</plist>
